.Name,
.Post {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 22px;
  margin-top: 30px;
}

.Completed {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.me-auto {
  background-color: skyblue;
  height: 10vh;
  width: 100vw;
  font-size: 30px;
  align-items: center;
}
